[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/minimp3"]
	path = vendor/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "vendor/freetype-gl"]
	path = vendor/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype.git